.user-select {
  margin-top: 40px;

  @include for-desktop-up {
    display: none;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #676f8f;
    text-align: center;
    display: block;
  }

  .choices {
    margin-top: 12px;
    border-radius: 8px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &.is-open {
      &:after {
        margin-top: -6px;
        border-color: initial;
        transform: rotate(-180deg);
        --choiser-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234545F5' xml:space='preserve' width='16' height='16'%3E%3Cpath fill-rule='evenodd' d='M.3 3.8c.3-.3.9-.3 1.2 0L8 10.4l6.5-6.5c.3-.3.9-.3 1.2 0 .3.3.3.9 0 1.2l-7.1 7.1c-.3.3-.9.3-1.2 0L.3 5c-.4-.3-.4-.8 0-1.2z' clip-rule='evenodd'/%3E%3C/svg%3E");
      }

      .choices__inner {
        --box-shadow-color: #a2a2fa;
      }
    }

    &__inner {
      --box-shadow-color: transparent;

      min-height: 48px;
      padding-left: 12px;
      border-radius: inherit;
      border-color: #dddee5;
      background-color: initial;
      box-shadow: 0 0 0 2px var(--box-shadow-color);
      transition: box-shadow 0.225s ease;
    }

    &:after {
      border: none;
      width: 16px;
      height: 16px;
      right: 19px;
      margin-top: -6px;
      --choiser-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231D2452' xml:space='preserve' width='16' height='16'%3E%3Cpath fill-rule='evenodd' d='M.3 3.8c.3-.3.9-.3 1.2 0L8 10.4l6.5-6.5c.3-.3.9-.3 1.2 0 .3.3.3.9 0 1.2l-7.1 7.1c-.3.3-.9.3-1.2 0L.3 5c-.4-.3-.4-.8 0-1.2z' clip-rule='evenodd'/%3E%3C/svg%3E");
      background-image: var(--choiser-image);
      transition: transform 0.225s ease;
    }

    &__item {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: #1d2452;
    }

    &__user {
      &--last {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        color: #676f8f;
        display: block;
      }
    }

    &__price {
      font-weight: 600;
      padding-left: 25px;

      &--last {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #4545f5;
        text-align: center;
        display: block;
        padding-left: initial;
      }
    }

    &__price-arrow {
      width: 12px;
      height: 12px;
      fill: #4545f5;
    }

    &__list {
      &--dropdown {
        border: initial;
        margin-top: 8px;
        border-radius: 8px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);

        .choices__list {
          max-height: 195px;
        }

        .choices__item {
          font-size: 16px;

          &--selectable {
            &[aria-selected='true'] {
              background-color: #edeef3;
              color: #4545f5;
            }
          }
        }
      }
    }
  }
}
